* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: azure;
}
header {
  height: auto;
}
#liveToast {
  display: none;
}
.close {
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  left: 80%;
}
.close:hover {
  cursor: pointer;
  background-color: rgb(253, 175, 31);
}
.toast {
  border-radius: 10px;
  display: inline-block;
  padding: 8px;
  margin-right: 5px;
  background-color: #eeeeee;
}
.container {
  margin: 0 auto;
  max-width: 975px;
  background-color: rgb(253, 175, 31);
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner > img {
  width: 320px;
  background-color: white;
  margin-top: 18px;
}
.title {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title > h1 {
  color: #fff;
}
.input-btn-fied {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}
.input-btn-fied > input {
  width: 65%;
  height: 42px;
  outline: none;
  border: none;
}
.input-btn-fied > button {
  width: 20%;
  height: 42px;
  border: none;
  outline: none;
  background-color: rgb(204, 202, 202);
}
.input-btn-fied > button:hover {
  background-color: rgb(126, 122, 122);
  cursor: pointer;
}
nav {
  height: auto;
  margin-top: 5px;
}
.container-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: auto;
  background-color: azure;
}
.list-field {
  width: 100%;
  line-height: 25px;
}
.list {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 79px;
  background-color: white;
  border: 1px solid rgb(253, 175, 31);
  margin-top: 1px;
}
.list > button {
  width: 70px;
  height: 55px;
  border: none;
  outline: none;
}
.list > button:hover {
  cursor: pointer;
  background-color: rgb(216, 150, 29);
}
