* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow: auto;
}
body {
  background-color: #f5fdb0;
}
header {
  height: 170px;
}
.container {
  margin: 0 auto;
  max-width: 975px;
}
.header-container {
  height: 170px;
}
.header-title {
  text-align: center;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title > h2 {
  width: 450px;
  font-style: italic;
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  color: #ff6a23;
}
.button-filtre {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-filtre > .btn {
  margin: 12px;
  padding: 9px;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
  background-color: initial;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.button-filtre > .btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: all 0.8s;
}
.nav-container {
  max-width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-row-gap: 10px;
  padding-bottom: 20px;
}
.food {
  width: 580px;
  height: 180px;
  display: flex;
}
.food-img {
  width: 150px;
  height: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.food-img > img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-left: 2px;
  border: 2px solid;
}
.food-info {
  width: 430px;
  height: 180px;
}
.food-title-desc {
  border: none;
  border-bottom: 1px solid;
  width: 400px;
  height: 38px;
  position: relative;
  left: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-title-desc > span {
  font-size: 25px;
  color: #7c2b06;
}
.food-explanation {
  height: 141px;
}
.food-explanation > p {
  font-size: 16px;
  margin: 15px 0 0 15px;
}
